doctype html
html
    head
        style
          include style.css
    body
       div
          block content
       div.footer
          p.link https://shopersvi.com.ua/
          div.social-links
            p Слідкуй за нами в 
            a(href="https://www.instagram.com/shopers_vi/") Instagram
