extends container

block content
  div
    h1 
      span SHOPERS_VI 
    div.container
      h1 Привіт 👋,
      p Шановний клієнте, нам надійшов запит на новий пароль для Вашого облікового запису.
      p Щоб змінити пароль, натисни на кнопку нижче:
      a(href=url class="link-button") ЗМІНИТИ ПАРОЛЬ
    p.notice Проігноруйте цей лист, якщо ви не надсилали запит на зміну паролю.
  
      